.post-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    
}

.post{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.title {
    display: flex; 
    align-items: center; 
    margin: 0;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    
}

.title i {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px; 
    font-size: 30px;
    align-items: center;
}

.author-header {
    margin-left: 30px;
    font-size: small;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    
} 

.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-header{
    display: flex;
    flex-direction: column;




}
.menu{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    

}

.like  {
    font-family: 'Roboto', sans-serif;
    font-size:small;
}
   
.comment {
    font-family: 'roboto', sans-serif;
    font-weight:normal;
    font-size:small; 
}

.post-icon {
    display: flex;
    justify-content: space-between;
}


.primary-icons {
    display: flex;
}

.bookmark {
    align-items: end;
}



img{
    width: 100%;
    height: 100%;
}


h5{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}



.post-container {
    border: solid 1px black;
}

